
.container{
    height: 1136px;
    width: 640px;
    margin: 0 auto;
}

.container2{
    height: 1136px;
    width: 640px;
    margin: 0 auto;
    background-color: #DDD;
}
.card{
    width: 600px;
    height: 1030px;
    position: absolute; 
    z-index: 2;
    margin-left: 20px;
    margin-top: 80px;
}


#login{
    width: 130px;
    height: 30px;
    position: absolute;
    margin: 350px 0px 0px 80px;
    z-index: 1000;
    cursor: pointer;
}

.signUpPage{
    position: absolute;
    margin-left: 75px;
}
#signUp{
    margin: auto;
    display: block;
    text-align: center;
    margin-top: 60px;
    font-family: "Helvetica neue";
    font-size: 25px;
    text-decoration: underline;
    color: grey;
    cursor: pointer;
    
}
.hidden{
    display: none;
}

.loginbut{
    height: 100%;
}

.over{
    position: absolute;
}

#user{
    margin-top: 0px;
    
}

#pass{
   margin-top: 0px; 
}

#logo{
    width: 350px;
    height: 350px;
    margin-left: 145px;
    margin-top: 90px; 
}

form{
    width: 250px;
    margin-left: 190px;
    text-align: center;
    padding-top: 40px;
    font-size: 30px;
    margin: auto;
    
}

.input{
    border: none;
    border-bottom: 2px solid grey;
    width: 250px;
    margin: 0 auto;
    display: block;
    height: 30px;
    margin: 70px 0px;
    background-color: #DDD;
    margin-top: 20px;
}

.input1{
    border: none;
    border-bottom: 2px solid grey;
    width: 250px;
    margin: 0 auto;
    display: block;
    height: 30px;
    margin: 30px 0px;
    background-color: #DDD;
    margin-top: 10px;
    font-family: "Helvetica neue";
}

label{
    font-family: "Helvetica neue";
    font-weight: bold;
}

#upLogo{
    width: 250px;
    height: 250px;
    margin: 0 auto;
    display: block;
}

.welcomeTo{
    text-align: center;
    width: 500px;
    margin: 0 auto;
    display: block;
    font-size: 50px;
    font-weight: bolder;
    font-family: "Helvetica neue";
}

.stream{
   text-align: center;
    width: 500px;
    margin: 0 auto;
    display: block; 
    font-size: 30px;
    margin-top: 10px;
    font-family: "Helvetica neue";
}
.loginButt{
    background-color: #7fa8d7;
    color: white;
    width: 280px;
    margin: auto;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    cursor: pointer;
    font-family: "Helvetica neue";
}

#loginStuff{
    margin-left: 150px;
}
.button{
    position: relative;
    width: 110px;
    height: 110px;
    z-index: 10;
    margin-top: 1025px;
    
}

.header{
    width: 640px;
    height: 80px;
    border-bottom: 5px solid #AAA;
    position: absolute;
}
#plus{
    float: right;
    cursor: pointer;
}

#share{
    float: left;
    cursor: pointer;
}

.loginPage{
    position: absolute;
}

.mainLogo{
    width: 80px;
    height: 80px;
    margin: 0 auto;
    display: block;
    margin-top: 0px;
}
.shareScreen{
    width: 630px;
    height: 420px;
    margin-top:1136px;
    position: absolute;
    border-radius: 20px;
    background-color: whitesmoke;
    z-index: 20;
    border: 5px solid #000;
}

#container {
  margin-top: 25px;
    margin-right: 50px;
  position: relative;
  background: #45453f;
    float:right;

}

.pulse {
  width: 20px;
  height: 20px;
  border: 5px solid blue;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #716f42;
  z-index: 10;
  position: absolute;
    margin-right: 30px;
}

.dot {
  border: 10px solid blue;
  background: transparent;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  height: 60px;
  width: 60px;
  -webkit-animation: pulse 3s ease-out;
  -moz-animation: pulse 3s ease-out;
  animation: pulse 3s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: absolute;
  top: -27px;
  left: -27px;
  z-index: 1;
  opacity: 0;
    margin-right: 100px;
}

@-moz-keyframes pulse {
 0% {
    -moz-transform: scale(0);
    opacity: 0.0;
 }
 25% {
    -moz-transform: scale(0);
    opacity: 0.1;
 }
 50% {
    -moz-transform: scale(0.1);
    opacity: 0.3;
 }
 75% {
    -moz-transform: scale(0.5);
    opacity: 0.5;
 }
 100% {
    -moz-transform: scale(1);
    opacity: 0.0;
 }
}

@-webkit-keyframes "pulse" {
 0% {
    -webkit-transform: scale(0);
    opacity: 0.0;
 }
 25% {
    -webkit-transform: scale(0);
    opacity: 0.1;
 }
 50% {
    -webkit-transform: scale(0.1);
    opacity: 0.3;
 }
 75% {
    -webkit-transform: scale(0.5);
    opacity: 0.5;
 }
 100% {
    -webkit-transform: scale(1);
    opacity: 0.0;
 }
}

#arrow{
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
    margin-top: 15px;
    margin-left: 25px;
}

.pro{
    width: 120px;
    height: 120px;
    margin-right: 35px;
    border: 5px solid black;
    border-radius: 200px;
}

.proPics{
    margin-top: 150px;
    margin-left: 80px;
    
}

#names{
    list-style-type: none;
    margin-left: 30px;;
    position: absolute;
}

#names li{
    display: inline;
    padding-right: 25px;
    font-size: 25px;
    font-family: "Helvetica neue";
}

.sharing{
    margin-left: 100px;
    margin-top: 50px;
    position: absolute;
    font-size: 40px;
    font-family: "Helvetica neue";
}

.rev{
  width: 70px;
    height: 70px;
    position: absolute;
    margin-left: 50px;
    margin-top: 110px;
    z-index: 21;
    background-color: #AAA;
    background-size: 110px;
    border-radius: 170px;
    cursor: pointer;
}

.book{
    position: absolute;
    width: 70px;
    height: 70px;
    margin-top: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.addressBook{
    position: absolute;
}

#aBook{
    height: 1055px;
    width: 640px;
    margin-top: 80px;
}

.dots{
    float: right;
    z-index: 21;
    width: 30px;
    height: 55px;
    margin-top: -67px;
    cursor: pointer;
    margin-right: 10px;
}

.settings{
    height: 1136px;
    width: 400px;
    margin-left: 640px;
    background-color: whitesmoke;
    z-index: 1000;
    position: absolute;
}

#right{
    height: 50px;
    width: 50px;
}

.setBar{
    margin-top: 30px;
    list-style-type: none;
    margin-left: -40px;
}

.setBar li{
    width: 400px;
    display: block;
    font-size: 30px;
    font-family: "Helvetica neue";
    text-align: center;
    border-bottom: 2px solid grey;
    padding: 50px 0px;  
    cursor: pointer;
}

#my{
    border-top: 2px solid grey;
}

.setBar li:hover{
   background-color: dimgrey;


}

.survey{
    width: 800px;
    height: 100px;
    background-color: aqua;
    margin: 0 auto;
    display: block;
    margin-top: 0px;
    text-align: center;
    line-height: 100px;
    font-size: 24px;
    cursor: pointer;
    font-family: "Helvetica neue";
}

#prof{
    font-size: 35px;
    font-family: "Helvetica neue";
    display: block;
    width: 600px;
    text-align: center;
}


.profilePage ul{
    display: block;
    width: 640px;
    list-style-type: none;
    font-size: 24px;
    font-family: "Helvetica neue";
    position: absolute;
    margin-left: -20px;
    margin-top: 340px;
}

.profilePage ul li{
    padding: 40px 0px;
    border-bottom: 2px solid grey;
}

#profPhoto{
    margin-left: 170px;
    height: 300px;
    width: 300px;
    display: block;
    position: absolute;
    margin-top: 20px;
}

.pageContent{
    margin-top: 90px;
    position: absolute;
}

.div1, .div2 {
    float: left;
    width: 60px;
    height: 60px;
    margin: 20px 10px;
    padding: 5px;
    border: 1px solid black;
}

.editor{
    margin-top: 100px;
    position: absolute;
    
}

.medImg {
    width: 60px;
    height: 60px;
    position: absolute;
}

.add{
    margin-left: 90px;
}

#sideBar{
    margin-top: 40px;
    z-index: -5;
}

.yourCARD{
    width: 510px;
    height: 1000px;
    float: right;
    background-color: #666;
    z-index: 0;
    margin-top: 110px;
    margin-right: 40px;
    border-radius: 10px;
}

.yourPhoto{
    margin: 0 auto;
    display: block;
    float: right;
    width: 200px;
    margin-top: 10px;
}

#blah{
    margin-top: 30px;
    margin-left: 310px;
    width: 100px;
    height: 50px;
}

#bio{
    position: absolute;
    margin-left: 220px;
    margin-top: 600px;
    font-size: 30px;
}

.clicked{
    margin-left: 95px;
}


.theContent{
    width: 640px;
    position: absolute;
    z-index: 1;
}
.theContent1{
    width: 640px;
    position: absolute;
    margin-top: 85px;
}